body{
/* 	margin: 0 auto;
	max-width: 50em; */
	font-family: Arial,微软雅黑,"Microsoft yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei,华文细黑,SimSun,宋体,Heiti,黑体,sans-serif;
	line-height: 1.75;
	padding: 4em 1em;
	background: url(images/seigaiha.png) repeat;
	color: #566b78;
}
h1,h2,strong{
	color: #333;
}
code,pre{
	background: #fff;
	border-bottom: 1px solid #d8dee9;
	color: #a7adba;
}
code{
	padding: 2px 4px;
	vertical-align: text-bottom;
}
pre{
	padding: 1em;
	border-left: 2px solid #69c;
}
header {
  background-color: #263d36;
  background-image: url("images/header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}
header img{
	width: 120px;
	height: 120px;
	vertical-align: top;
	display: inline-block;
}
header h1{
	color: white;
	font-size: 2.5em;
	font-weight: 300;
}
header a{
	border: 1px solid #fff;
	border-radius: 290486px;
	color: white;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	padding: 1em 2em;
	text-transform: uppercase;
	text-decoration: none;
	transition: none 200ms ease-out;
	transition-property: color, background;
}
header a:hover{
	background:  #e81c4f;
	color: white;
}
/* 部分未在演示中提到的样式 */
body{
	margin: 0;
	padding: 0;
}
pre{
	white-space: pre-line;
}
blockquote{
	margin: 0;
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
	background-color: #fff
}
header{
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.2;
	padding: 10vw 2em;
	text-align: center;
}
header img{
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,.8);
}
main,footer{
	margin: 0 auto;
	max-width: 50em;
}
